<div class="table-responsive">
  <table class="table table-striped table-bordered table-sm mb-0">
  <thead class="thead-light">
    <tr>
      <th scope="col">
        Nombre
      </th>
      <th scope="col">
        Zona/Comuna
      </th>
      <th scope="col">
        Localidad
      </th>
      <th scope="col">
        Dirección
      </th>
      <th scope="col">
        Celular
      </th>
      <th scope="col" class="w-70px">
        Viandas
      </th>
    </tr>
  </thead>
  <tbody>
  <% team_destinations.each do |td| %>
    <tr>
      <td>
        <%= link_to td.destination.name, edit_destination_path(td.destination) %>
      </td>
      <td>
        <%= td.destination.department.name %>
      </td>
      <td>
        <%= td.destination.locality.name %>
      </td>
      <td>
        <%= td.destination.address %>
      </td>
      <td>
        <%= td.destination.phone %>
      </td>
      <td>
        <%= f.fields_for :team_destinations, td do |td_fields| %>
          <%= td_fields.number_field :meal_quantity, class: 'form-control-sm mr-0', wrapper_class: 'mb-0', style: 'max-width: 60px', hide_label: true, data: { reflex: "change->Team#submit" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <% if team_destinations.count > 1 %>
    <tfoot>
      <tr>
        <th colspan="4">
        </th>
        <th>
          Total
        </th>
        <th>
          <%= team_destinations.sum(:meal_quantity) %>
        </th>
      </tr>
    </tfoot>
  <% end %>
</table>
</div>