<table class="table table-striped table-bordered table-sm">
  <thead class="thead-light">
  <tr>
    <th scope="col">
      Nombre
    </th>
    <th scope="col">
      Provincia
    </th>
    <th scope="col">
      Zona/Comuna
    </th>
    <th scope="col">
      Localidad
    </th>
    <th scope="col">
      Dirección
    </th>
    <th scope="col">
      Celular
    </th>
    <th scope="col">
      Email
    </th>
  </tr>
  </thead>
  <tbody>
  <% users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.name, edit_user_path(user) %>
      </td>
      <td>
        <%= user.province.name %>
      </td>
      <td>
        <%= user.department.name %>
      </td>
      <td>
        <%= user.locality.name %>
      </td>
      <td>
        <%= user.address %>
      </td>
      <td>
        <%= user.phone %>
      </td>
      <td>
        <%= user.email %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>