<% content_for(:container) { 'container-fluid' } %>

<div class="card shadow rounded">
  <div class="card-header">
    <div class="d-flex align-content-center">
      <h3 class="m-0">Equipos</h3>
      <div class="ml-auto"><%= link_to 'Crear equipo', new_team_path, class: 'btn btn-primary' %></div>
    </div>
  </div>
  <div class="card-body">
    <%= bootstrap_form_for @search, as: :search, url: teams_path do |f| %>
      <div class="form-row">
        <%= f.hidden_field :page %>
        <%= f.date_field :pick_up_date, value: @search.pick_up_date, data: { reflex: 'change->tabular#submit' }, wrapper: { class: 'col-2' } %>
        <%= f.text_field :text, placeholder: 'Buscar...', data: { controller: "tabular", action: 'input->tabular#search' } %>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-between align-items-center mt-3">
          <span>Mostrando <%= pluralize(@pagy.count, 'equipo', plural: 'equipos') %></span>
          <div class="float-right">
            <%= render 'shared/paginator' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead class="thead-dark">
              <tr>
                <th scope="col">
                  Nombre
                </th>
                <th scope="col">
                  Entrega
                </th>
                <th scope="col" class="text-nowrap">
                  Fecha de retiro
                </th>
                <th scope="col">
                  Retira
                </th>
                <th scope="col">
                  Destinos
                </th>
                <th scope="col">
                  Cantidad
                </th>
                <th scope="col">
                </th>
              </tr>
              </thead>
              <tbody>
              <% @records.each do |team| %>
                <tr>
                  <td>
                    <%= link_to team.name, edit_team_path(team) %>
                    <% unless team.final? %>
                      <small class="font-italic">(borrador)</small>
                    <% end %>
                  </td>
                  <td>
                    <%= collaborator_names(team.drop_off_collaborators) %>
                  </td>
                  <td>
                    <%= readable_date(team.pick_up_date) %>
                  </td>
                  <td>
                    <%= collaborator_names(team.pick_up_collaborators) %>
                  </td>
                  <td>
                    <%= get_destinations(team) %>
                  </td>
                  <td>
                    <%= team.chef_collaborations.sum(:meal_quantity) %>
                  </td>
                  <td>
                    <%= link_to '<i class="fas fa-trash"></i>'.html_safe, team_path(team), method: :delete, data: { confirm: 'Estas seguro/a?' } %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row float-right">
        <div class="col">
          <%= render 'shared/paginator' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
