<p>
  Hola <%= @user.name %>, las viandas hay que retirarlas el <b><%= l(@team.pick_up_date, format: :short) %>, <%= @team.pick_up_time_range %></b>. Esta es la lista de <strong>cocineros</strong>:
</p>

<% @team.chef_collaborations.each do |c| %>
  <table class="content-table">
    <thead>
      <tr>
        <th colspan=2 style="background: lightblue;"><%= c.user.name %> (<%= c.meal_quantity %> viandas)</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Dirección</td>
          <td><%= c.user.address %> (<%= c.user.locality.name %>)</td>
        </tr>
         <tr>
          <td>Teléfono</td>
          <td><%= c.user.phone %></td>
        </tr>
    </tbody>
  </table>
  <br>
<% end %>

<span>Total viandas: <%= @team.chef_collaborations.sum(:meal_quantity) %></span>

<hr>

<p>
  Estos son los <strong>destinos</strong>:
</p>

<% if @team.intermediate_destination.present? %>
  <p><strong><%= @team.intermediate_destination %></strong></p>
<% else %>
  <% @team.team_destinations.each do |td| %>
    <table class="content-table">
        <thead>
          <tr>
            <th colspan="2" style="background: #ade6c9"><%= td.destination.name %> (<%= td.meal_quantity %> viandas)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dirección</td>
            <td>
              <%= td.destination.address%> (<%= td.destination.locality.name %>)
            </td>
          </tr>
          <tr>
            <td>Teléfono</td>
            <td>
              <%= td.destination.phone %>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
  <% end %>
<% end %>
<p>
  ¡Muchas gracias por tu colaboración!
  <br>
  Alternativa Solidaria.
</p>
