<%- if controller_name != 'sessions' %>
  <div><%= link_to "Ingresar", new_session_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div>¿No tenes una cuenta? <%= link_to "Sumate", new_registration_path(resource_name), class: "" %></div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div><%= link_to "¿Olvidate tu contraseña?", new_password_path(resource_name), class: "" %></div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div><%= link_to "¿No recibiste las instrucciones de confirmación?", new_confirmation_path(resource_name), class: ""%></div>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div><%= link_to "¿No recibiste las instruccionés para desbloquear?", new_unlock_path(resource_name), class: "" %></div>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Entrar con #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "" %>
  <% end -%>
<% end -%>
