<div id="register-page">
  <h2 class="pt-4 mb-8 text-4xl font-bold heading">Editar perfil</h2>
  <%= bootstrap_form_for(@user) do |f| %>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= f.text_field :first_name, class:"form-control" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.text_field :last_name, class:"form-control" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
      </div>
    </div>
    <div data-controller="province" data-province-locations-url="<%= localities_path %>">
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :province_id, class: 'label' %>
          <%= select_tag :province_id, options_from_collection_for_select(Province.all, :id, :name, @user.province.id), class: 'form-control', data: { target: 'province.provinceId', action: 'province#findLocalities' } %>
        </div>
        <div class="form-group col-md-6">
          <%= f.collection_select :locality_id, @user.province.localities, :id, :name, {}, class: 'form-control', data: { target: 'province.localityId' } %>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.text_field :address, class:"form-control" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.text_field :phone, class:"form-control" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.collection_check_boxes :roles, User.roles.humans, :first, :second do |b| %>
          <div class="form-check">
            <%=  b.label(class:"form-check-label") { b.check_box(class:"form-check-input") + b.text}  %>
          </div>
        <% end %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :available_weeks, "Fines de semana con disponibilidad" %>
        <%= f.collection_check_boxes :week_ids, Week.for_current_month, :id, :name, hide_label: true %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <p>Estado</p>
        <%= f.collection_radio_buttons :status, status_options(), :first, :second, hide_label: true %>
      </div>
      <div class="form-group col-md-6">
        <%= f.form_group :admin, label: { text: "El usuario es admin?" } do %>
        <%= f.radio_button :admin, 0, label: "No" %>
        <%= f.radio_button :admin, 1, label: "Yes" %>
      <% end %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
