<div class="card shadow rounded">
  <h3 class="card-header">Editar perfil</h3>
  <div class="card-body">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= render 'users/registrations/upper_form', f: f %>
      <hr class="mt-6 border" />
      <div class="form-row">
        <%= f.collection_radio_buttons :status, status_options, :first, :last, wrapper: { class: 'col' } %>
        <div class="form-group col">
          <%= f.check_box :admin, label: "Es administrador", wrapper: { class: 'col' } %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <%= f.submit class: "btn btn-primary mt-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
