<% content_for(:container) { 'container-fluid' } %>
<%= bootstrap_form_for @search, as: :search, url: users_path do |f| %>
  <div class="form-row">
    <%= f.hidden_field :page %>
    <%= f.select :status, options_for_reflex_select(status_options, :first, :last, @search.status, prompt: "Activos o nuevos"), { wrapper: { class: 'col' }, hide_label: true }, { data: { reflex: 'change->Tabular#submit' }, class: 'form-control-sm' } %>
    <%= f.select :day, options_for_reflex_select(AvailableDay.for_current_month, :date, :short_date, @search.day, prompt: "Todas los dias"), { wrapper: { class: 'col' }, hide_label: true }, { data: { reflex: 'change->Tabular#submit' }, class: 'form-control-sm' } %>
    <%= f.select :role, options_for_reflex_select(User.roles.humans, :first, :second, @search.role, prompt: "Todos los roles"), { wrapper: { class: 'col' }, hide_label: true }, { data: { reflex: 'change->Tabular#submit' }, class: 'form-control-sm' } %>
    <%= f.select :province_id, options_for_reflex_select(@search.provinces, :id, :name, @search.province_id, prompt: "Todas las provincias"), { wrapper: { class: 'col' }, hide_label: true }, { data: { reflex: 'change->Tabular#submit' }, class: 'form-control-sm' } %>
    <%= f.select :department_id, options_for_reflex_select(@search.departments, :id, :name, @search.department_id, prompt: "Todas los departamentos"), { wrapper: { class: 'col' }, hide_label: true }, { data: { reflex: 'change->Tabular#submit' }, class: 'form-control-sm' } %>
    <%= f.select :locality_id, options_for_reflex_select(@search.localities, :id, :name, @search.locality_id, prompt: "Todas las localidades"), { wrapper: { class: 'col' }, hide_label: true }, { data: { reflex: 'change->Tabular#submit' }, class: 'form-control-sm' } %>
    <%= f.select :zone_id, options_for_reflex_select(Zone.all, :id, :name, @search.zone_id, prompt: "Todas las zonas"), { wrapper: { class: 'col' }, hide_label: true }, { data: { reflex: 'change->Tabular#submit' }, class: 'form-control-sm' } %>
  </div>

  <div class="form-row">
    <%= f.text_field :text, placeholder: 'Buscar...', data: { controller: "tabular", action: 'input->tabular#search' }, wrapper: { class: 'col-4' }, class: 'form-control-sm', hide_label: true %>
    <%= f.check_box :not_quick_edited, data: { reflex: 'change->Tabular#submit' } %>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-between align-items-center mt-3">
      <span>Mostrando <%= pluralize(@pagy.count, 'colaborador', plural: 'colaboradores') %></span>
      <div class="float-right">
        <%= render 'shared/paginator' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive">
      <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">
        </th>
        <th scope="col">
          Nombre
        </th>
        <th scope="col">
          Provincia
        </th>
        <th scope="col">
          Zona/Comuna
        </th>
        <th scope="col">
          Localidad
        </th>
        <th scope="col">
          Dirección
        </th>
        <th scope="col">
          Celular
        </th>
        <th scope="col">
          Email
        </th>
        <th scope="col">
        </th>
      </tr>
      </thead>
      <tbody>
      <% @records.each do |user| %>
        <tr>
          <td>
            <div class="d-flex justify-content-between">
              <%= status_icon(user.status) %>
              <% user.roles.each do |role| %>
               <%= role_icon(role) %>
              <% end %>
            </div>
          </td>
          <td>
            <%= link_to user.name, edit_user_path(user) %>
          </td>
          <td>
            <%= user.province.name %>
          </td>
          <td>
            <%= user.department.name %>
          </td>
          <td>
            <%= user.locality.name %>
          </td>
          <td>
            <%= user.address %>
          </td>
          <td>
            <%= user.phone %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe, user_path(user), method: :delete, data: { confirm: 'Estas seguro/a?' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    </div>
  </div>

  <div class="row float-right">
    <div class="col">
      <%= render 'shared/paginator' %>
    </div>
  </div>
<% end %>
