<% content_for(:container) { 'container-fluid' } %>

<div class="row">
  <div class="col-12">
    <div class="filters form-group mb-2 d-flex">
      <%= select_tag :status, options_for_reflex_select(status_options, :first, :last, @status, prompt: 'Todos los estados'),
                     class:'form-control form-control-sm mr-2', data: { reflex: 'change->Tabular#change_status' } %>
      <%= select_tag :week, options_for_reflex_select(Week.for_current_month, :id, :name, @week, prompt: 'Todas las semanas'),
                      class:'form-control form-control-sm mr-2', data: { reflex: 'change->Tabular#change_week' } %>
      <%= select_tag :role, options_for_reflex_select(User.roles.humans, :first, :second, @role, prompt: 'Todas los roles'),
                     class:'form-control form-control-sm mr-2', data: { reflex: 'change->Tabular#change_role' } %>
      <%= select_tag :province, options_for_reflex_select(Province.all, :id, :name, @province, prompt: "Todas las provincias"),
                     class:'form-control form-control-sm mr-2', data: { reflex: 'change->Tabular#change_province' } %>
      <%= select_tag :province, options_for_reflex_select(@departments, :id, :name, @department, prompt: "Todas las zonas"),
                     class:'form-control form-control-sm mr-2', data: { reflex: 'change->Tabular#change_department' } %>
      <%= select_tag :locality, options_for_reflex_select(@localities, :id, :name, @locality, prompt: "Todas las Localidades"),
                     class:'form-control form-control-sm', data: { reflex: 'change->Tabular#change_locality' } %>
    </div>
  </div>
</div>

<div id="user-listing">
  <div class="row">
    <div class="col d-flex justify-content-between align-items-baseline">
      <span>Mostrando <%= pluralize(@pagy.count, 'colaborador', plural: 'colaboradores') %></span>
      <div class="float-right">
        <%= render 'shared/paginator' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive">
      <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">
        </th>
        <th scope="col">
        </th>
        <th scope="col">
          Nombre
        </th>
        <th scope="col">
          Apellido
        </th>
        <th scope="col">
          Provincia
        </th>
        <th scope="col">
          Zona/Comuna
        </th>
        <th scope="col">
          Localidad
        </th>
        <th scope="col">
          Dirección
        </th>
        <th scope="col">
          Celular
        </th>
        <th scope="col">
          Email
        </th>
      </tr>
      </thead>
      <tbody>
      <% @records.each do |user| %>
        <tr>
          <td>
            <%= status_icon(user.status) %>
          </td>
          <td>
            <div class="d-flex">
            <% user.roles.each_with_index do |role,index| %>
               <%= role_icon(role, index) %>
            <% end %>
            </div>
          </td>
          <td>
            <%= user.first_name %>
          </td>
          <td>
            <%= user.last_name %>
          </td>
          <td>
            <%= user.province.name %>
          </td>
          <td>
            <%= user.department.name %>
          </td>
          <td>
            <%= user.locality.name %>
          </td>
          <td>
            <%= user.address %>
          </td>
          <td>
            <%= user.phone %>
          </td>
          <td>
            <%= user.email %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    </div>
  </div>

  <div class="row float-right">
    <div class="col">
      <%= render 'shared/paginator' %>
    </div>
  </div>
</div>
