<div class="card shadow rounded">
  <h3 class="card-header">Reestablecer contraseña</h3>
  <div class="card-body">
    <% content_for :devise_form do %>
      <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <div class="input-group">
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input" %>
        </div>

        <div class="input-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
        </div>

        <div class="input-group">
          <%= f.submit "Cambiar contraseña", class: "btn btn-primary" %>
        </div>
      <% end %>
      <hr class="mt-6 border" />
      <%= render "devise/shared/links" %>
    <% end %>
    <%= render "devise/shared/form_wrap" %>
  </div>
</div>