<nav>
  <ul class="pagination">
    <li class="page-item"><a href="#" class="page-link" data-reflex="click->Tabular#paginate" data-page="<%= prev_page %>" data-reflex-root="#user-listing">â†</a></li>
    <% @pagy.series.each do |item| %>
      <% if item == :gap %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
      <% else %>
        <li class="page-item <%= "active" if item.is_a?(String) %>">
          <a href="#" class="page-link" data-reflex="click->Tabular#paginate" data-page="<%= item %>" data-reflex-root="#user-listing"><%= item %></a>
        </li>
      <% end %>
    <% end %>
    <li class="page-item"><a href="#" class="page-link" data-reflex="click->Tabular#paginate" data-page="<%= next_page %>" data-reflex-root="#user-listing">â†’</a></li>
  </ul>
</nav>