<div class="card shadow rounded">
  <h3 class="card-header">Iniciar sesión</h3>
  <div class="card-body">
    <% content_for :devise_form do %>
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email %>
        <%= f.password_field :password %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
        </div>
        <div class="form-group">
          <%= f.submit "Ingresar", class: "btn btn-primary" %>
        </div>
      <% end %>

      <hr class="mt-6 border" />

      <%= render "devise/shared/links" %>
    <% end %>

    <%= render "devise/shared/form_wrap" %>
  </div>
</div>
