<% content_for :devise_form do %>
  <h2 class="pt-4 mb-8 text-4xl font-bold heading">Log in</h2>

  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.check_box :remember_me %>
    <%= f.submit "Log In" %>
  <% end %>

  <hr class="mt-6 border" />

  <%= render "devise/shared/links" %>
<% end %>

<%= render "devise/shared/form_wrap" %>
