<div class="card shadow rounded">
  <div class="card-header">
    <div class="d-flex align-content-center align-items-center">
      <h4 class="m-0">
        Plantilla:
        <%= @team_template.name %>
        <% unless @team_template.final? %>
          <small class="font-italic">(borrador)</small>
        <% end %>
      </h4>
      <div class="ml-auto"><%= link_to "Colaboradores", team_template_collaborations_path(@team_template), class: 'btn btn-primary' %></div>
      <div class="ml-2"><%= link_to "Destinos", team_template_team_destinations_path(@team_template), class: 'btn btn-primary' %></div>
      <div class="ml-2"><%= link_to 'Volver', team_templates_path, class: 'btn btn-primary' %></div>
    </div>
  </div>
  <div class="card-body">
    <%= render 'form', team_template: @team_template %>
  </div>
</div>
