<%= bootstrap_form_for(@destination) do |f| %>
  <div class="form-row">
    <%= f.text_field :name, wrapper: { class: 'col-md-9' } %>
    <%= f.number_field :meal_quantity, wrapper: { class: 'col-md-3' } %>
  </div>
  <div data-controller="province" data-province-locations-url="<%= localities_path %>">
    <div class="form-row">
      <div class="form-group col">
        <%= f.label :province_id, class: 'label' %>
        <%= select_tag :province_id, options_from_collection_for_select(Province.all, :id, :name, f.object.province.id), class: 'form-control selectpicker', data: { target: 'province.provinceId', action: 'province#findLocalities' } %>
      </div>
      <%= f.collection_select :locality_id, f.object.province.localities, :id, :name, { wrapper: { class: 'col' } }, class: 'selectpicker', data: { target: 'province.localityId', live_search: true } %>
    </div>
  </div>
  <div class="form-row">
    <%= f.text_field :address, wrapper: { class: 'col' } %>
    <%= f.text_field :phone, wrapper: { class: 'col' } %>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <%= f.submit 'Guardar', class: "btn btn-primary mt-3" %>
    </div>
  </div>
  <% end %>
