<!DOCTYPE html>
<html class="antialiased">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      Alternativa Solidaria
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= yield :body_classes if content_for?(:body_classes) %>">
    <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><img style="height: 75px;" src='<%= asset_path("logo.jpeg") %>' />Alternativa Solidaria</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Quienes Somos</a>
        <a class="p-2 text-dark" href="#">Como Funcionamos</a>
        <a class="p-2 text-dark" href="#">Recetas</a>
      </nav>
      <a class="btn btn-outline-primary" href="/users/sign_up">Sumate</a>
    </div>

    <div class="container">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
