<!DOCTYPE html>
<html class="antialiased">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      Alternativa Solidaria
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="<%= yield :body_classes if content_for?(:body_classes) %>">
    <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 bg-white shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><img style="height: 75px;" src='<%= asset_path("logo.jpg") %>' /><%= link_to "Alternativa Solidaria", root_path, class: 'p-2 text-dark' %></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Quienes Somos</a>
        <a class="p-2 text-dark" href="#">Como Funcionamos</a>
        <a class="p-2 text-dark" href="#">Recetas</a>
        <% if current_user&.admin? %>
          <%= link_to "Colaboradores", users_path, class: 'p-2 text-dark' %>
        <% end %>
      </nav>
      <div class="btn-toolbar" role="toolbar" aria-label="Botones de acceso">
        <% if user_signed_in? %>
          <%= link_to "Editar cuenta", edit_user_registration_path, class: "btn btn-outline-primary mr-2" %>
          <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
        <% else %>
          <%= link_to "Ingresar", new_user_session_path, class:"btn btn-outline-primary mr-2" %>
          <%= link_to "Sumate", new_user_registration_path, class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div id="rainbow-bar"></div>

    <div class="<%= content_for?(:container) ? yield(:container) : 'container' %>">
      <%= render "shared/modal-sanitation" %>
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> alert-dismissible fade show" role="alert">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
