<!DOCTYPE html>
<html class="antialiased">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      Alternativa Solidaria
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>


  <body class="<%= current_page?(root_url) ? 'bg-white' : 'bg-light '%>">
    <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 bg-white mb-4 <%= current_page?(root_url) ? '' : 'shadow-sm'%>">
      <h5 class="my-0 mr-md-auto font-weight-normal d-flex flex-column flex-md-row align-items-center"><img style="height: 50px;" src='<%= asset_path("rainbow-logo.png") %>' /><%= link_to "Alternativa Solidaria", root_path, class: 'p-2 text-dark title text-decoration-none' %></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <% if current_user&.admin? %>
          <%= link_to "Colaboradores", users_path, class: 'btn btn-info' %>
          <%= link_to "Equipos", teams_path, class: 'btn btn-info' %>
          <%= link_to "Destinos", destinations_path, class: 'btn btn-info' %>
        <% else %>
          <a class="p-2 text-dark" href="#who-we-are">Quienes Somos</a>
          <a class="p-2 text-dark" href="#how-we-do-it">Como Funcionamos</a>
          <a class="p-2 text-dark" href="#">Recetas</a>
        <% end %>
      </nav>
      <div class="btn-toolbar" role="toolbar" aria-label="Botones de acceso">
        <% if user_signed_in? %>
          <%= link_to "Editar cuenta", edit_user_registration_path, class: "btn btn-outline-primary mr-2" %>
          <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
        <% else %>
          <%= link_to "Ingresar", new_user_session_path, class:"btn btn-outline-primary mr-2" %>
          <%= link_to "Sumate", new_user_registration_path, class:"btn btn-primary sumate" %>
        <% end %>
      </div>
    </div>

    <div class="<%= content_for?(:container) ? yield(:container) : 'container' %>">
      <%= render "shared/modal-sanitation" %>
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> alert-dismissible fade show" role="alert">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <footer class="page-footer font-small bg-light">
      <!-- Footer Elements -->
      <div class="container">
        <!-- Grid row-->
        <div class="row justify-content-center">
          <!-- Grid column -->
          <div class="col-md-12">
            <div class="mb-3 flex-center pt-5 text-center">
              <!-- Facebook -->
              <a href="https://www.facebook.com/Alternativa-solidaria-105744337895556" target="_blank" class="fb-ic">
                <i class="fab fa-facebook fa-lg white-text mr-3 fa-2x"></i>
              </a>
              <!--Instagram-->
              <a href="https://www.instagram.com/alternativasolidaria/" target="_blank" class="ins-ic">
                <i class="fab fa-instagram fa-lg white-text fa-2x"></i>
              </a>
              <div class="mt-4">
                <p class="text-dark"><strong><i class="far fa-envelope fa-lg white-text mr-3 fa-2x" style="font-size:1.75em;"></i>somosalternativasolidaria@gmail.com</strong></p>
              </div>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
      <!-- Footer Elements -->
    </footer>
  </body>
</html>
